{% load static %}
{% load custom_filters %}
 <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><i class="fas fa-hashtag me-2"></i>Transaction ID</th>
                                    <th><i class="fas fa-exchange-alt me-2"></i>Type</th>
                                    <th><i class="fas fa-calendar me-2"></i>Date</th>
                                    <th><i class="fas fa-dollar-sign me-2"></i>Amount</th>
                                    <th><i class="fas fa-info-circle me-2"></i>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>#TRX-456</strong></td>
                                    <td>
                                        <span class="badge bg-info">
                                            <i class="fas fa-arrow-down me-1"></i>Withdrawal
                                        </span>
                                    </td>
                                    <td>Feb 01, 2024</td>
                                    <td><strong>$500.00</strong></td>
                                    <td><span class="badge bg-success">Completed</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>