{% extends "books/loginbase.html" %}
{% load custom_filters %}
{% block style %}
    <style>
        .hero-section {
            background-color: #f8f9fa;
            padding: 60px 0;
            margin-bottom: 38px;
        }

        .action-buttons .btn {
            min-width: 150px;
            margin: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="hero-section" style="margin-top:7rem;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 mx-auto text-center">
                    {% comment %} <h1 class="display-4 mb-4">Ayatutu Ontology</h1> {% endcomment %}
                    <p class="lead mb-4">{{book.title}}</p>
                    <div class="action-buttons">
                        <a href="{% url 'books:payment-method' book.id %}" class="btn btn-success btn-lg" >Download
                            Now</a>
                        <a href="{% url 'subscriptions:subscription' %}" class="btn btn-outline-success btn-lg"
                           >Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Project Overview</h3>
                        <p class="card-text">{{ book.description|unescape_html|truncatehtml:100|safe }}</p>
                        <ul class="list-group list-group-flush mt-3">
                            <li class="list-group-item">
                                <strong>Author:</strong> {{book.author}}
                            </li>
                            <li class="list-group-item">
                                <strong>Field:</strong> {{book.category.name}}
                            </li>
                            <li class="list-group-item">
                                <strong>Pages:</strong> {{page_count}} PAGES ({{word_count}} WORDS)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
{% endblock %}